.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.items{
    width: 30vh;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}

.items > div{
    background-color: black;
    color: white;
    border: pink solid 4px;
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.item1{
    grid: 1;
    grid-column: 1/4;
    grid-row: 1/3;
}

.item2{
    grid-column:4;
    grid-row: 1/4;
}



.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.items1{
    width: 30vh;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}

.items1 > div{
    background-color: black;
    color: white;
    border: pink solid 4px;
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.item11{
    grid: 1;
    grid-column: 1/4;
}


.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.items2{
    width: 30vh;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}

.items2 > div{
    background-color: black;
    color: white;
    border: pink solid 4px;
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.item111{
    grid: 1;
    grid-column: 1/4;
}

.item222{
    grid-column: 4;
    grid-row: 1/3
}